<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ammach.myapplication"
    android:sharedUserId="com.taxes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        tools:replace="android:icon,android:theme,android:label"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Taxes"
        android:name=".MyApplication"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenuActivity"
            android:label="Menu" />

        <activity
            android:name=".Taxe38.Taxe38DetailActivity"
            android:label="liste des Taxe38 Trimestriellles"
            android:parentActivityName=".Taxe38.Taxe38Activity" />
        <activity
            android:name=".Taxe38.Taxe38SearchActivity"
            android:label="Recherche Taxe38"
            android:parentActivityName=".Taxe38.Taxe38Activity" />
        <activity
            android:name=".Taxe38.Taxe38Activity"
            android:label="@string/title_activity_taxe38"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TaxeSejour.MenuSejour" />
        <activity android:name=".TaxeSejour.LineChartActivity" />
        <activity android:name=".TaxeBoisson.TaxeAnnelleBoissonPdf"/>
        <activity android:name=".TaxeSejour.BarChartActivity" />

    </application>

</manifest>